.pagebodyhead4{
    height: 60px;
    width: 400%;
    background-color: rgb(201, 198, 198);
    
}

.section1{
    width: 50px;
    height: 250px;
    
    
}
.section2{
    margin-left: 300px;
    margin-top: -250px;
    width: 50px;
    height: auto;
}
.section1 input{
    border:  rgba(146, 155, 155, 0.568);
    background-color: rgb(239, 235, 235);
    font-size: 20px;
    padding: 10px;
    width: 200px;
    padding: 10px;
  }
  .section1 label{
    font-size: 20px;
     color: rgba(0, 0, 0, 0.793);
     padding: 30px;
    
   }
  .section2 label{
   font-size: 20px;
   color:  rgba(0, 0, 0, 0.793);
    
  }
  .section2 input{
    border:  rgba(204, 215, 215, 0.568);
   background-color: rgb(239, 234, 234);
    font-size: 20px;
    padding: 10px;
    width: 200px;
    padding: 10px;
    
  
  }
  .section3 input{
    border: rgba(120, 128, 128, 0.568);
    font-size: 20px;
    margin-top: 0px;
    width: 50%;
   
   

  }
  .section3 label{
    font-size: 20px;
     color:  rgba(0, 0, 0, 0.908);
     padding: 30px;
    
  }
  .section3 button {   
    background-color:rgb(62, 62, 74);  
    width: 100px;
    height: 30px; 
    margin-left: 10px;
    margin-top: 100px;
  }
     
  